go 1.21.5

use (
	./cmd/day01/src
	./cmd/day02/src
	./cmd/day03/src
	./cmd/day04/src
	./cmd/day05
	./cmd/day05-malciin
	./cmd/day05/almanac
	./cmd/day06
	./cmd/day07
	./cmd/day07/camelcards
	./cmd/day08
	./cmd/day08/nodemap
	./cmd/day09
	./cmd/day09/oasis
	./cmd/day10
	./cmd/day10/pipes
	./cmd/day11
	./cmd/day12
	./cmd/day12/springs
	./cmd/jsontest
	./internal/utils
	./internal/xref
)
